# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dylib.*
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/
**/.DS_Store

# Externals
openssl/
zstd/

# VSCode
.vscode

# Binary and library
tachyon
lib*.so.*

**.deps
**.dirstamp
/autom4te.cache/
/config/
Makefile
Makefile.in
aclocal.m4
app.info
compile
config.h
config.h.in
configure
configure.scan
coverage_report
m4
missing
stamp-h1
autoscan.log
build-aux/
config.log
config.status
